<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Editar livro</h1>

<form action="#" th:action="@{/books/{id}(id=${book.id})}" method="post">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="${book.title}">
  </div>
  <div>
    <label for="Isbn">ISBN:</label>
    <input type="text" id="Isbn" name="Isbn" th:value="${book.Isbn}">
  </div>
  <button type="submit">Submit</button>
</form>


</body>
</html>